@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import 'base/reset';
@import 'base/normalize';
@import 'base/globals';

@import 'constants';

@import 'mixins/flexbox';

@import 'component/badge';
@import 'component/header';
@import 'component/icon-row';
@import 'component/nav';
@import 'component/status-bar';
@import 'component/sub-title';
@import 'component/user-component';

@import 'pages/settings';
@import 'pages/login';
@import 'pages/friends';
@import 'pages/find';
@import 'pages/more';
@import 'pages/chatting';

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
.main-screen {
  margin-top: 100px;
  padding: 0px $horizontal-space;
}
